{
  "presets" : [
  	"env",
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-export-extensions",
    "transform-class-properties",
  	"transform-object-rest-spread",
    "transform-react-jsx"
  ]
}