.notification-container {
    font-family: sans-serif;
    position: absolute;
    top: 50px;
    left: 0;
}

.notification {
    width: 400px;
    padding: 20px;
    color: #fff;
    word-wrap: break-word;
}

.notification-success {
    background: rgb(129, 230, 154);
}

.notification-warning {
    background: rgb(243, 140, 140);
}

.notification-info {
    background: rgb(142, 223, 255);
}