.notification-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.notification-container.top-left {
  top: 0;
  bottom: auto;
  left: 0;
  right: auto;
}

.notification-container.top-right {
  top: 0;
  bottom: auto;
  right: 0;
  left: auto;
}

.notification-container.bottom-left {
  top: auto;
  bottom: 0;
  left: 0;
  right: auto;
}

.notification-container.bottom-right {
  top: auto;
  bottom: 0;
  right: 0;
  left: auto;
}
